<div class="container mb-5">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <div class="about text-light">
        <h2 class="text-center"><u>About Me</u></h2>
        <p class="fs-5 mt-4">
          Hello! I'm Soumya Ranjan Mishra, a passionate Web Developer and Java
          Enthusiast. With a strong foundation in both front-end and back-end
          technologies, I specialize in building dynamic, user-friendly websites
          and robust web applications. My skills include
          <strong
            >HTML, CSS, JavaScript, Angular, React, and Java with Spring
            Boot.</strong
          >
          <br />
          I’m constantly exploring new technologies and frameworks to stay ahead
          in the ever-evolving web development landscape. I thrive on solving
          complex problems and creating efficient, scalable solutions. Whether
          it’s crafting seamless user interfaces or developing backend systems
          that power high-performance applications, my goal is always to deliver
          top-notch, clean code. I’m excited to bring ideas to life and
          collaborate on projects that make an impact.
        </p>
      </div>
      <div class="img">
        <img src="../../../assets/about.png" alt="" />
      </div>
    </div>
  </div>

  <!-- Skills Section -->
  <div class="skill">
    <h2 class="text-light text-center mt-5">My Skills</h2>
    <div class="box d-flex justify-content-between">
      <div class="vbox"></div>
      <div class="vbox2"></div>
      <div class="vbox"></div>
      <div class="vbox2"></div>
      <div class="vbox"></div>
      <div class="vbox2"></div>
    </div>
    <div class="skillname fs-4 d-flex justify-content-between text-light">
      <div class="snma mt-5 pt-4">Java</div>
      <div class="snma2">React Js</div>
      <div class="snma3 mt-5 pt-4">Angular</div>
      <div class="snma2">Web Dev</div>
      <div class="snma5 mt-5 pt-4">Spring Boot</div>
      <div class="snma2">C Program</div>
    </div>
  </div>
  <div class="exp mt-5">
    <h2 class="text-light text-center mt-5 mb-3">My Experiences</h2>
    <div class="box1"></div>
    <div class="body mt-4 d-flex justify-content-between">
      <div class="card me-2">
        <div class="card-body">
          <h4>Web development</h4>
          <strong>Octanet Private Limited</strong><br /><br />
          08/2024-09/2024 <br />Bhubaneshwar, India
          <ul>
            <li>IT Services and IT Consulting</li>
            <li>
              Increased website traffic by 30% by developing user-friendly web
              applications during the virtual internship.
            </li>
          </ul>
        </div>
      </div>
      <div class="card ms-2">
        <div class="card-body">
          <h4>Java Developer</h4>
          <strong>CodDoft</strong><br /><br />
          10/2024-11/2024 <br />
          Bhubaneshwar, India
          <ul>
            <li>IT Services and IT Consulting</li>
            <li>
              Improved system performance by 30% by optimizing 100% Java modules
              for enhanced efficiency.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
