<div class="container mb-5">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <div class="intro text-light mt-5 pt-5">
        <h2>
          Hello, I am <br><span class="name">Soumya Ranjan Mishra</span><br>
          and i am a passionate
        </h2>
        
        <span id="typedElement" class="skill"></span>
      </div>
      <div class="img">
        <img src="../../../assets/soumya.png" width="50%" alt="" />
      </div>
    </div>
  </div>
  <div class="col text-light d-flex justify-content-between">
    <div class="img">
      <img class="aboutimg" src="../../../assets/about.png" alt=""  width="10%"/>
    </div>
    <div class="about mt-4 ms-5 ps-5">
      <P
        >I am a passionate and dedicated developer with expertise in creating
        dynamic, responsive websites and robust Java applications. With a deep
        understanding of front-end technologies like HTML, CSS, and JavaScript,
        and back-end skills in Java, I build seamless, scalable solutions that
        meet user needs. I specialize in frameworks like Angular and React for
        web development, and Spring Boot for Java-based backend systems,
        ensuring high-quality and efficient code. My goal is to leverage my
        skills to create innovative, user-friendly web experiences and powerful
        backend systems.
      </P>
    </div>
  </div>
</div>
