*{
    color: white;
}
.line{
    width: 25%;
    height: 2px;
    background-color: white;
    margin-left: 37%;
}
.pro-1{
    display: flex;

    height: 50vh;
    justify-content: center;
    
}

.card-body{
    max-width: 50%;
    width: 49%;
    height: 90%;
    margin-right: 10px;
    background-color: rgb(1, 35, 84);
    border: 1px solid rgba(255, 255, 255, 0.329);
    padding: 5px;
    border-radius: 10px ;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.559);
}
a{
    color: rgb(193, 118, 32);
}
.btn1{
    margin-left: 50px;
}