<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">My Projects</h2>
      <div class="line"></div>
      <div class="pro-1">
        <div class="card-body mt-5">
          <h4>To Do</h4>
          <img
            src="../../../assets/todo.png"
            class="ms-5 ps-5"
            height="180px"
            alt=""
          /><br />
          <a
            href="https://github.com/SOUMYA1449/React-to-do.git "
            class="text-decoration-none fs-5"
            >View Project</a
          >
          <br />This project This is a React-based To-Do application .
        </div>

        <div class="card-body mt-5">
          <h4>Billing System For supermarket</h4>
          <img
            src="../../../assets/pro_2.jpg"
            class="ms-5 ps-5"
            height="180px"
            alt=""
          /><br />
          <a
            href="https://github.com/SOUMYA1449/BillingSystem-in-c-programming.git"
            class="text-decoration-none fs-5"
            >View Project</a
          >
          <br />A project developed for easy billing in supermarkets using C
          language .
        </div>
      </div>
      <div class="pro-1">
        <div class="card-body mt-5">
          <h4>E BOOK PLATFORM</h4>
          <img
            src="../../../assets/pro_3.png"
            class="ms-5 ps-5"
            height="180px"
            alt=""
          /><br />
          <a
            href="https://github.com/SOUMYA1449/React-to-do.git "
            class="text-decoration-none fs-5"
            >View Project</a
          >
          <br />The EBook Platform is a Java-based website designed
        </div>

        <div class="card-body mt-5">
          <h4>E GOVERNMENT PLATFORM</h4>
          <img
            src="../../../assets/pro_4.png"
            class="ms-5 ps-5"
            width="400px"
            alt=""
          /><br />
          <a
            href="https://github.com/SOUMYA1449/E_Gov_Angular_Springboot.git"
            class="text-decoration-none fs-5"
            >View Project</a
          >
          <br />This project This is a React-based To-Do application .
        </div>
      </div>
      <div class="pro-1">
        <div class="card-body mt-5">
          <h4>Portfolio</h4>
          <img
            src="../../../assets/pro_5.png"
            class="ms-5 ps-5 border rounded"
            height="180px"
            alt=""
          /><br />
          <a
            href="https://github.com/SOUMYA1449/React-to-do.git "
            class="text-decoration-none fs-5"
            >View Project</a
          >
          <br />My Personal portfolio made using angular
        </div>
      </div>
      <div class="text-center">
        <a  href="https://github.com/SOUMYA1449?tab=repositories">
          <div class="btn btn-warning text-center mb-5 p-2 mt-5" >
            Show All Project
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
