<div class="container">
  <div class="row">
    <div class="col-md-7 offset-md-2">
      <div class="card ">
        <div class="card-body text-center">
          <!-- Name in Big Letters -->
          <h1 class="text-center">Soumyaranjan Mishra</h1>

          <!-- Email with Logo -->
          <p class="fs-4 text-center">
            ContactMe{{log}} -
            <a
              href="https://mail.google.com/mail/?view=cm&fs=1&to=soumyaranjanmishra1449@gmail.com"
              target="_blank"
              
            >
             
              {{ email }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
