/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(1, 35, 84);
}
*{
    text-align: justify;
}
/* src/styles.css or styles.scss */
body, html {
     /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  
  